# .editorconfig
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python (Backend + Data)
[*.py]
indent_style = space
indent_size = 4

# Frontend (JS, HTML, CSS)
[*.{js,html,css,json}]
indent_style = space
indent_size = 2  

# YAML (Docker, CI/CD)
[*.{yml,yaml}]
indent_style = space
indent_size = 2